.rotating-logo-wrapper {
  position: fixed;
  top: 20px;
  left: 25px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotating-ring img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.center-logo img {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotating-logo-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
}
